@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: #41AAA7;
        --bg-blocks: #FFFFFF;

        --title: #000000;
        --description: #4F4F4F;
        --discount: #D03A38;
        --other: #2E7E7B;

        --category-bg: #122B16;
        --category-text: #2C9149;
    }
}

@layer base {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        font-family: Lato, serif;
        @apply flex flex-col items-center justify-center h-screen bg-background;
    }

    ul, li, ol {
        text-decoration: none;
    }

    input {
        outline: none;
    }
}